main {
  background-image: radial-gradient(circle, var(--accent) 2px, transparent 2px);
  background-color: var(--background);
  background-size: 21px 21px;
}

.register-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 380px) {
  .register-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  main::before,
  main::after {
    display: none;
    content: none;
  }
}
